@model Application.Features.Products.Queries.GetById.GetProductByIdQueryResponse

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete confirmation for @Model.Name</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group text-center">
                    <img class="border-info rounded-circle" style="max-width: 150px" src="@Model.ImageUrl" />
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <strong class="form-control">@Model.Name</strong>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <strong class="form-control">@Model.Description</strong>
                </div>
                <div class="form-group"></div>
                    <label>Categories</label>
                    <div>
                        @if (Model.Categories != null && Model.Categories.Any())
                        {
                            @foreach (var category in Model.Categories)
                            {
                                <span class="badge badge-info mr-1">@category.Name</span>
                            }
                        }
                        else
                        {
                            <span>No categories</span>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="UnitsInStock" class="control-label"></label>
                    <strong class="form-control">@Model.UnitsInStock</strong>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <strong class="form-control">@Model.Price</strong>
                </div>

                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                    </form>
                    <a class="btn btn-outline-secondary" asp-action="Index">Back to list</a>
                </div>
            </div>
        </div>
    </div>
</div>
